<div class="mastfoot">
	<div class="inner">
	  <p class="app-footer">
			<%= copyright_generator %>
			<br>
			<div class="social-links">
				<a href="https://github.com/vernko" target="_blank"><%= fa_icon "github" %></a>
				<a href="https://www.linkedin.com/in/vernkofford/" target="_blank"><%= fa_icon "linkedin" %></a>
				<a href="https://twitter.com/vk315" target="_blank"><%= fa_icon "twitter" %></a>
				<a href="https://www.facebook.com/vern.kofford" target="_blank"><%= fa_icon "facebook" %></a>
				<a href="https://www.instagram.com/vd315/" target="_blank"><%= fa_icon "instagram" %></a>
			</div>
		</p>
	</div>
</div>